<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".playback.AudioOutputDiagnosticActivity"
            android:exported="true"
            android:label="Audio output diagnostic"
            android:theme="@style/Theme.EmbySonic" />
    </application>
</manifest>
