*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/

# local emulator screenshots
_screen*.png

verify-temp*.png

verify-temp*.png
